/server/moodledata/cache/*
/server/moodledata/localcache/*
/server/tmp/*
/server/mysql/data/mysql.pid
/server/mysql/data/mysql_error.log
/server/apache/logs/*
/server/mysql/data/ibtmp1

/server/apache/logs/*
/server/phpunitdataroot/cache/*
/server/phpunitdataroot/localcache/*
.vscode
.idea
/.vscode/*
/.vs/*

obj
bin
*.csproj.user
